/* This is where we will define styling that isn't covered by Tailwind.  I think that will only be animations, but feel free to add any necessary custom CSS */

/* The animation code (copied this from w3schools) */
@keyframes example {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}

/* The element to apply the animation to */
div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}
